{% extends 'snap_analyzer_django/base.html' %}

{% block content %}

Product_name : {{ blog.product_name }} <br>
Type : {{ blog.type }} <br>
Serial number : {{ blog.serial_number_cluster }} <br>
Code level : {{ blog.code_level }} <br>
Timestamp :	{{ blog.date_timestamp }} <br>

<br>
<br>
Hardware: <br>
{% for enclosure in enclosures %}
_____________________________________________________________________________________________________<br>
id : {{ enclosure.id_enclosure }}   Enc_type : {{ enclosure.product_MTM_enclosure }}({{ enclosure.type }}) <br>
Sn : {{ enclosure.serial_number_enclosure }} Status : {{ enclosure.status_enclosure }} Temperature : {{ enclosure.temperature }}  <br>
Nodes : {{ enclosure.online_canisters }}/{{ enclosure.total_canisters }} PSUs : {{ enclosure.online_PSUs }}/{{ enclosure.total_PSUs }} <br>
Drive slots : {{ enclosure.drive_slots }} <br>


{% endfor %}

{% endblock %}