{% extends 'snap_analyzer_django/base.html' %}

{% block content %}

<style>
.bd-sidebar {
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
}
</style>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 bd-sidebar">
            <nav class="sticky-top">
            <table>
                <tr>
                    <td align='right'>Product_name :</td>
                    <td>&nbsp;{{ blog.product_name }}</td>
                </tr>
                <tr>
                    <td align='right'>Type :</td>
                    <td>&nbsp;{{ blog.type }}</td>
                </tr>
                <tr>
                    <td align='right'>Serial number :</td>
                    <td>&nbsp;{{ blog.serial_number_cluster }}</td>
                </tr>
                <tr>
                    <td align='right'>Code level :</td>
                    <td>&nbsp;{{ blog.code_level }}</td>
                </tr>
                <tr>
                    <td align='right'>Timestamp :</td>
                    <td>&nbsp;{{ blog.date_timestamp }}</td>
                </tr>
            </table>
            <br>
            <table>
                <tr><td colspan="2"> Snap history:</td></tr>
                {% for cluster in clusters %}
                {% if cluster.id == blog.id %}
    			<tr style="cursor: pointer;"  class="text-danger"  onclick="location.href='{% url 'detail' cluster.id %}'">
                {% endif %}
                {% if cluster.id != blog.id %}
    			<tr style="cursor: pointer;" onclick="location.href='{% url 'detail' cluster.id %}'">
                {% endif %}
        		<td class='col-1' nowrap>{{ cluster.code_level }}</td>
        		<td class='col-1' nowrap>{{ cluster.date_timestamp }}</td>
    			</tr>
                {% endfor %}
            </table>
            </nav>
        </div>

{% for enclosure in enclosures %}
        <table align="center">
            <tr>
                <td>
                    id : {{ enclosure.id_enclosure }}
                </td>
                <td>
                    Enc_type : {{ enclosure.product_MTM_enclosure }}({{ enclosure.type }})<br> Sn : {{ enclosure.serial_number_enclosure }}
                </td>
                {% if enclosure.status_enclosure == "online" %}
                    <td  class="text-success" >
                        Status : {{ enclosure.status_enclosure }}
                    </td>
                {% elif enclosure.status_enclosure == "degraded" %}
                    <td  class="text-warning" >
                        Status : {{ enclosure.status_enclosure }}
                    </td>
                {% elif enclosure.status_enclosure == "offline" %}
                    <td  class="text-danger" >
                        Status : {{ enclosure.status_enclosure }}
                    </td>
                {% endif %}
                <td>
                    Temperature : {{ enclosure.temperature }}
                </td>
            </tr>
    {% if enclosure.type == "control" %}
   <tr><td colspan="4">
                <table align=center><tr>


                <td>
                    <table border="1">
                        <tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=1','_blank')">
                            <td colspan=2 width="240" align="center" bgcolor="#DDDDDD">{{ enclosure.name_node_left }}</td>
                        </tr><tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=1','_blank')">
                        {% if enclosure.status_node_left == "online" %}
                            <td width="120" align="center"  class="bg-success" >{{ enclosure.status_node_left }}</td>
                        {% elif enclosure.status_node_left == "offline" %}
                            <td width="120" align="center"  class="bg-danger" >{{ enclosure.status_node_left }}</td>
                        {% endif %}
                            <td width="120" align="center">{{ enclosure.service_IP_address_node_left }}</td>
                        </tr>
                    </table>
                </td>



                <td>
                    <table border="1">
                        <tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=2','_blank')">
                            <td colspan=2 width="240" align="center" bgcolor="#DDDDDD">{{ enclosure.name_node_right }}</td>
                        </tr><tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=2','_blank')">
                        {% if enclosure.status_node_right == "online" %}
                            <td width="120" align="center"  class="bg-success" >{{ enclosure.status_node_right }}</td>
                        {% elif enclosure.status_node_right == "offline" %}
                            <td width="120" align="center"  class="bg-danger" >{{ enclosure.status_node_right }}</td>
                        {% endif %}
                        <td width="120" align="center">{{ enclosure.service_IP_address_node_right }}</td>
                        </tr>
                    </table>
                </td>


                </tr></table>
            </td></tr>
        {% endif %}
            <tr><td colspan="4" align="center">
                <!-- <table border=1><tr> -->

                <!-- </tr> -->
                <!-- <tr> -->

                <!-- </tr></table> -->

              <table border=1><tr>

                    <td bgcolor="#DDDDDD" align='center' width='30'>1</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>2</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>3</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>4</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>5</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>6</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>7</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>8</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>9</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>10</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>11</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>12</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>13</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>14</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>15</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>16</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>17</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>18</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>19</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>20</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>21</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>22</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>23</td>
                    <td bgcolor="#DDDDDD" align='center' width='30'>24</td>

                 </tr><tr>


                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">12</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">5</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">17</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">36</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">37</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">16</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">10</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">18</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">13</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">8</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">15</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">46</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">9</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">21</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">44</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">47</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">35</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">38</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">40</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">11</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">6</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">45</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">22</a></td>
                     <td width='36' align='center'  class="bg-success"><a href="" target="popup" style="color: midnightblue;">29</a></td>

                 </tr><tr>
                 </tr><tr>
                 </tr><tr>
             </tr></table>
            </td></tr>

            <tr>
                <td>
                    Nodes : {{ enclosure.online_canisters }}/{{ enclosure.total_canisters }}
                </td>
                <td>
                    PSUs : {{ enclosure.online_PSUs }}/{{ enclosure.total_PSUs }}
                </td>
                {% if enclosure.type == "control" %}
                <td>
                    Battery : {{ enclosure.online_batteries }}/2
                </td>
                {% endif %}
            </td></tr>
            <br>
            <br>
    </table>
<br>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}