{% extends 'snap_analyzer_django/base.html' %}

{% block content %}

<style>
.bd-sidebar {
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
}
</style>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 bd-sidebar">
            <nav class="sticky-top">
            <table>
                <tr>
                    <td align='right'>Product_name :</td>
                    <td>&nbsp;{{ blog.product_name }}</td>
                </tr>
                <tr>
                    <td align='right'>Type :</td>
                    <td>&nbsp;{{ blog.type }}</td>
                </tr>
                <tr>
                    <td align='right'>Serial number :</td>
                    <td>&nbsp;{{ blog.serial_number_cluster }}</td>
                </tr>
                <tr>
                    <td align='right'>Code level :</td>
                    <td>&nbsp;{{ blog.code_level }}</td>
                </tr>
                <tr>
                    <td align='right'>Timestamp :</td>
                    <td>&nbsp;{{ blog.date_timestamp }}</td>
                </tr>
            </table>
            <br>
            <table>
                <tr><td colspan="2"> Snap history:</td></tr>
                {% for cluster in clusters %}
                {% if cluster.id == blog.id %}
    			<tr style="cursor: pointer;"  class="text-danger"  onclick="location.href='{% url 'detail' cluster.id %}'">
                {% endif %}
                {% if cluster.id != blog.id %}
    			<tr style="cursor: pointer;" onclick="location.href='{% url 'detail' cluster.id %}'">
                {% endif %}
        		<td class='col-1' nowrap>{{ cluster.code_level }}</td>
        		<td class='col-1' nowrap>{{ cluster.date_timestamp }}</td>
    			</tr>
                {% endfor %}
            </table>
            </nav>
        </div>

{% for enclosure in enclosures %}
        <table align="center">
            <tr>
                <td>
                    id : {{ enclosure.id_enclosure }}
                </td>
                <td>
                    Enc_type : {{ enclosure.product_MTM_enclosure }}({{ enclosure.type }})<br> Sn : {{ enclosure.serial_number_enclosure }}
                </td>
                {% if enclosure.status_enclosure == "online" %}
                    <td  class="text-success" >
                        Status : {{ enclosure.status_enclosure }}
                    </td>
                {% elif enclosure.status_enclosure == "degraded" %}
                    <td  class="text-warning" >
                        Status : {{ enclosure.status_enclosure }}
                    </td>
                {% elif enclosure.status_enclosure == "offline" %}
                    <td  class="text-danger" >
                        Status : {{ enclosure.status_enclosure }}
                    </td>
                {% endif %}
                <td>
                    Temperature : {{ enclosure.temperature }}
                </td>
            </tr>
    {% if enclosure.type == "control" %}
   <tr><td colspan="4">
                <table align=center><tr>


                <td>
                    <table border="1">
                        <tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=1','_blank')">
                            <td colspan=2 width="240" align="center" bgcolor="#DDDDDD">{{ enclosure.name_node_left }}</td>
                        </tr><tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=1','_blank')">
                        {% if enclosure.status_node_left == "online" %}
                            <td width="120" align="center"  class="bg-success" >{{ enclosure.status_node_left }}</td>
                        {% elif enclosure.status_node_left == "offline" %}
                            <td width="120" align="center"  class="bg-danger" >{{ enclosure.status_node_left }}</td>
                        {% endif %}
                            <td width="120" align="center">{{ enclosure.service_IP_address_node_left }}</td>
                        </tr>
                    </table>
                </td>



                <td>
                    <table border="1">
                        <tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=2','_blank')">
                            <td colspan=2 width="240" align="center" bgcolor="#DDDDDD">{{ enclosure.name_node_right }}</td>
                        </tr><tr onclick="window.open('node_info?id=63087301db3965fe757e33bc&node_id=2','_blank')">
                        {% if enclosure.status_node_right == "online" %}
                            <td width="120" align="center"  class="bg-success" >{{ enclosure.status_node_right }}</td>
                        {% elif enclosure.status_node_right == "offline" %}
                            <td width="120" align="center"  class="bg-danger" >{{ enclosure.status_node_right }}</td>
                        {% endif %}
                        <td width="120" align="center">{{ enclosure.service_IP_address_node_right }}</td>
                        </tr>
                    </table>
                </td>


                </tr></table>
            </td></tr>
        {% endif %}

        {% if "-92G" in enclosure.product_MTM_enclosure %}
            <tr><td colspan="4" align="center">
              <table border=1><tr>
                    {% for drive in drives %}
                    {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                        {% if drive.drive_slot_id == 35 or drive.drive_slot_id == 47 or drive.drive_slot_id == 59 %}
                            <td colspan="2" bgcolor="#DDDDDD" align='center' width='30'> </td>
                        {% endif %}
                    <td bgcolor="#DDDDDD" align='center' width='30'>{{ drive.drive_slot_id }}</td>
                        {% if drive.drive_slot_id == 14 %}
                            <tr>
                                {% for drive in drives %}
                                {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                                    {% if drive.drive_status == "online" and drive.drive_slot_id <= 14 %}
                                 <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "degraded" and drive.drive_slot_id <= 14 %}
                                 <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "offline" and drive.drive_slot_id <= 14 %}
                                 <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if drive.drive_slot_id == 28 %}
                            <tr>
                                {% for drive in drives %}
                                {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                                    {% if drive.drive_status == "online" and drive.drive_slot_id > 14 and drive.drive_slot_id <= 28 %}
                                 <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "degraded" and drive.drive_slot_id > 14 and drive.drive_slot_id <= 28 %}
                                 <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "offline" and drive.drive_slot_id > 14 and drive.drive_slot_id <= 28 %}
                                 <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if drive.drive_slot_id == 40 %}
                            <tr>
                                {% for drive in drives %}
                                {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                                    {% if drive.drive_slot_id == 35 %}
                                            <td colspan="2" bgcolor="#DDDDDD" align='center' width='30'>  </td>
                                    {% endif %}
                                    {% if drive.drive_status == "online" and drive.drive_slot_id > 28 and drive.drive_slot_id <= 40 %}
                                        <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "degraded" and drive.drive_slot_id > 28 and drive.drive_slot_id <= 40 %}
                                        <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "offline" and drive.drive_slot_id > 28 and drive.drive_slot_id <= 40 %}
                                        <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if drive.drive_slot_id == 52 %}
                            <tr>
                                {% for drive in drives %}
                                {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                                    {% if drive.drive_slot_id == 47 %}
                                            <td colspan="2" bgcolor="#DDDDDD" align='center' width='30'>  </td>
                                    {% endif %}
                                    {% if drive.drive_status == "online" and drive.drive_slot_id > 40 and drive.drive_slot_id <= 52 %}
                                        <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "degraded" and drive.drive_slot_id > 40 and drive.drive_slot_id <= 52 %}
                                        <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "offline" and drive.drive_slot_id > 40 and drive.drive_slot_id <= 52 %}
                                        <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if drive.drive_slot_id == 64 %}
                            <tr>
                                {% for drive in drives %}
                                {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                                    {% if drive.drive_slot_id == 59 %}
                                            <td colspan="2" bgcolor="#DDDDDD" align='center' width='30'>  </td>
                                    {% endif %}
                                    {% if drive.drive_status == "online" and drive.drive_slot_id > 52 and drive.drive_slot_id <= 64 %}
                                        <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "degraded" and drive.drive_slot_id > 52 and drive.drive_slot_id <= 64 %}
                                        <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "offline" and drive.drive_slot_id > 52 and drive.drive_slot_id <= 64 %}
                                        <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if drive.drive_slot_id == 78 %}
                            <tr>
                                {% for drive in drives %}
                                {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                                    {% if drive.drive_status == "online" and drive.drive_slot_id > 64 and drive.drive_slot_id <= 78 %}
                                 <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "degraded" and drive.drive_slot_id > 64 and drive.drive_slot_id <= 78 %}
                                 <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "offline" and drive.drive_slot_id > 64 and drive.drive_slot_id <= 78 %}
                                 <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if drive.drive_slot_id == 92 %}
                            <tr>
                                {% for drive in drives %}
                                {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                                    {% if drive.drive_status == "online" and drive.drive_slot_id > 78 and drive.drive_slot_id <= 92 %}
                                 <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "degraded" and drive.drive_slot_id > 78 and drive.drive_slot_id <= 92 %}
                                 <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% elif drive.drive_status == "offline" and drive.drive_slot_id > 78 and drive.drive_slot_id <= 92 %}
                                 <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                 </tr><tr>

                 </tr><tr>
                 </tr><tr>
                 </tr><tr>
             </tr></table>
            </td></tr>
            {% else %}

            <tr><td colspan="4" align="center">
              <table border=1><tr>
                    {% for drive in drives %}
                        {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                            <td bgcolor="#DDDDDD" align='center' width='30'>{{ drive.drive_slot_id }}</td>
                        {% endif %}
                    {% endfor %}
                 </tr><tr>
                    {% for drive in drives %}
                        {% if enclosure.serial_number_enclosure == drive.serial_number_enclosure %}
                            {% if drive.drive_status == "online" %}
                                <td width='36' align='center' class="bg-success"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                            {% elif drive.drive_status == "degraded" %}
                                <td width='36' align='center' class="bg-warning"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                            {% elif drive.drive_status == "offline" %}
                                <td width='36' align='center' class="bg-danger"><a href="{% url 'drive_detail' drive.id %}" target="_blank" style="color: midnightblue;">{{ drive.drive_id }}</a></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                 </tr>
              </table>
            </td></tr>

            {% endif %}

            <tr>
                <td>
                    Nodes : {{ enclosure.online_canisters }}/{{ enclosure.total_canisters }}
                </td>
                <td>
                    PSUs : {{ enclosure.online_PSUs }}/{{ enclosure.total_PSUs }}
                </td>
                {% if enclosure.type == "control" %}
                <td>
                    Battery : {{ enclosure.online_batteries }}/2
                </td>
                {% endif %}
            </td></tr>
            <br>
            <br>
    </table>
<br>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}