{% extends 'snap_analyzer_django/base.html' %}

{% block content %}

<table class='table table-striped text-center'>
    <tr>
        <th>mtm</th>
        <th>sn</th>
        <th>code level</th>
        <th>timestamp</th>
    </tr>
    {% for cluster in clusters %}
        <tr style="cursor: pointer;" onclick="location.href='{% url 'detail' cluster.id %}'">
            <td>{{ cluster.type }}</td>
            <td>{{ cluster.serial_number_cluster }}</td>
            <td>{{ cluster.code_level }}</td>
            <td>{{ cluster.date_timestamp }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}