<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog_node.name_node }} Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col text-right">
                 Node id :
            </div>
            <div class="col">
                {{ blog_node.id_node }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node name :
            </div>
            <div class="col">
                {{ blog_node.name_node }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node WWNN :
            </div>
            <div class="col">
                {{ blog_node.WWNN_node }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node status :
            </div>
            <div class="col">
                {{ blog_node.status_node }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node IO group id :
            </div>
            <div class="col">
                {{ blog_node.IO_group_id_node }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node IO group name :
            </div>
            <div class="col">
                {{ blog_node.IO_group_name }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node partner node id :
            </div>
            <div class="col">
                {{ blog_node.partner_node_id }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node partner node name :
            </div>
            <div class="col">
                {{ blog_node.partner_node_name }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Config node :
            </div>
            <div class="col">
                {{ blog_node.config_node }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node hardware :
            </div>
            <div class="col">
                AF7
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node iscsi name :
            </div>
            <div class="col">
                {{ blog_node.iscsi_name }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Enclosure serial number :
            </div>
            <div class="col">
                {{ blog_node.serial_number_enclosure }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node service IP :
            </div>
            <div class="col">
                {{ blog_node.service_IP_address }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node gateway :
            </div>
            <div class="col">
                {{ blog_node.service_gateway }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node subnet mask :
            </div>
            <div class="col">
                {{ blog_node.service_subnet_mask }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node machine type :
            </div>
            <div class="col">
                {{ blog_node.product_mtm }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                Node code level :
            </div>
            <div class="col">
                {{ blog_node.code_level }}
            </div>
        </div>

    </div>
</body>
</html>